RewriteEngine On

# Menghilangkan ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirect dari .php ke URL tanpa ekstensi (opsional)
RewriteCond %{THE_REQUEST} /([^?\s]*?)\.php[\s?] [NC]
RewriteRule ^ /%1? [R=301,L]
